{% extends main.html %}

{% block title %}Revocation - IceCube Token Service{% end %}

{% block bodyclass %}revocation{% end %}

{% block content %}
{% if error_message %}
<p class="error">{{ error_message }}</p>
{% end %}

<h3>Revoked tokens:</h3>
<table class="revoked_tokens">
<tr>
    <th>Sub</th>
    <th>Type</th>
    <th>Exp</th>
    <th>Scopes</th>
    <th>Hash</th>
</tr>
{% for t in revoked %}
<tr class="token">
    <td>{{ t['sub'] }}</td>
    <td>{{ t['type'] }}</td>
    <td>{{ t['exp'] }}</td>
    <td>{{ ' '.join(t['scopes']) }}</td>
    <td>{{ t['hash'] }}</td>
</tr>
{% end %}
</table>

<h3>Valid tokens:</h3>
<form method="post" class="valid_tokens">
{% module xsrf_form_html() %}
<div class="italics">(click to revoke token)</div>
<table>
<tr>
    <th></th>
    <th>Sub</th>
    <th>Type</th>
    <th>Exp</th>
    <th>Scopes</th>
    <th>Hash</th>
</tr>
{% for t in tokens %}
<tr class="token">
    <td><input type="checkbox" id="{{ t['hash'] }}" name="hash" value="{{ t['hash'] }}"></td>
    <td>{{ t['sub'] }}</td>
    <td>{{ t['type'] }}</td>
    <td>{{ t['exp'] }}</td>
    <td>{{ ' '.join(t['scopes']) }}</td>
    <td>{{ t['hash'] }}</td>
</tr>
{% end %}
</table>
<input type="submit" value="Revoke checked tokens" />
</form>
{% end %}