<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}IceCube LDAP{% end %}</title>
        <meta name="description" content="Token service">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body class="{% block bodyclass %}main{% end %}">
        <div id="container">
            <header>
                <img src="/static/icecube-logo.png" width="359" height="94" alt="IceCube - South Pole Neutrino Detector" />
                <h1>{% block header_title %}IceCube LDAP Authorization{% end %}</h1>
            </header>
            <main>
            {% block content %}{% end %}
            </main>
        </div>
        {% block bodyscripts %}{% end %}
    </body>
</html>
